  <section class="footer-row">
      <div class="container">
          <div class="footer_section">
              <ul class="footer-links-section">
                <li class="footerLinks"><a href="/about">About</a></li>
                <li class="footerLinks"><a href="/portfolio">Portfolio</a></li>
                <li class="footerLinks"><a href="/skills">Skills</a></li>
                <li class="footerLinks"><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </section>
  </body>
</html>
