<!DOCTYPE html>

<html>
  <head>
    <title>Eric Abenojar</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

<body>
  <nav class="navbar navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbarName" href="/"><strong class="homeName">Eric</strong>Abenojar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbarLinks"><a href="/about">About</a></li>
      <li class="navbarLinks"><a href="/portfolio">Portfolio</a></li>
      <li class="navbarLinks"><a href="/skills">Skills</a></li>
      <li class="navbarLinks"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
