<% include partials/header %>

<div class="container-fluid">
  <section class="about-main">
    <div class="container about-container">
    <div class="about-title-section">
      <h1 class="project-title">Hello, get to know me!</h1>
    </div>
    <div class="about-container-header">
      <div class="about-header">
        <h1 class="about-header-title">About me</h1>
      </div>
      <div class="about-body">
        <div class="about-body-text">
          <h1 class="about-description">Hi everyone,</h1>
          <h1 class="about-description">Some quick facts about me</h1>
          <h1 class="about-description">I love web development and design</h1>
          <h1 class="about-description">I enjoy solving complex problems</h1>
          <h1 class="about-description">I love sports (soccer, running, cycling)</h1>
          <h1 class="about-description">I enjoy traveling and creating films</h1>
          <h1 class="about-description">I am intrigued by cryptocurrency</h1>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>


<% include partials/footer %>
