<% include partials/header %>


  <div class="container-fluid">
    <div class="row row1">
          <h1 class="row1-title">Hello there, welcome to my portfolio</h1>
          <img  class="row1-img" src="/images/mainimg.jpg">
      </div>
   <section class="row2">
     <div class="container">
       <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-4">
             <div class="main-heading">
               <h2 class="main-heading-text">BUILDING YOUR VISION</h2>
             </div>
             <div class="main-title">
               <h1 class="main-title-text">Learn more about my projects and skills</h1>
             </div>
             <div class="main-description">
               <p class="main-description-text">Explore some of the amazing projects that I have built using the latest technologies from node, react, express, etc.</p>
             </div>
             <div class="main-description-two">
               <p class="main-description-two-text">Get to know more about the person behind the keyboard. My portfolio is built around my personal interests in life that revevoles around creativity and technology.</p>
             </div>
             <div class="portfolio-button-section">
               <a href="/portfolio"><button type="button" class="portfolio-button">Explore Portfolio</button></a>
               </div>
             </div>
         <div class="col-sm-12 col-md-12 col-lg-8">
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-6">
               <div class="app-container">
                  <img class="app-img"  src="https://images.unsplash.com/photo-1488274319148-051ed60a9404?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6970013ced254fc622665c925200b891&auto=format&fit=crop&w=500&q=60">
                  <h2 class="app-name">Local Events Platform</h2>
                  <p class="app-description">This application is used to find in real time local events such as a pickup soccer game, local concert, arts, etc.</p>
              </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-6">
               <div class="app-container">
                  <img class="app-img"  src="https://images.unsplash.com/photo-1508741592914-500abcb6d1ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d975ff949ab7499b0dd502dbb5aa501&auto=format&fit=crop&w=500&q=60">
                  <h2 class="app-name">Cryptocurrency Trading Platform</h2>
                  <p class="app-description">This application is used to find the price of any cryptocurrency and update the prices in real time.</p>

              </div>
             </div>
           </div>
         </div>
       </div>

       
     </div>
   </section>



  <div>


<% include partials/footer %>
