<% include partials/header %>


  <div class="container-fluid">
    <div class="row row1">
          <h1 class="row1-title">Hello</h1>
          <h1 class="row1-description">I'M ERIC ABENOJAR</h1>
          <h1 class="row1-job-title">A FRONT END DEVELOPER</h1>
          <h1 class="row1-description">I LOVE DESIGN AND MAKING COOL STUFF</h1>
      </div>
        <div class="container about-title-section">
          <h1 class="project-title">Get to know me!</h1>
        </div>
      <div class="row ">
        <div class="about-main">

        <div class="row about-row">

        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="about-container">
          <div class="about-container-header">
            <div class="about-header">
              <h1 class="about-header-title">ABOUT ME</h1>
            </div>
            <div class="about-body">
              <div class="about-body-text">
                <h1 class="about-description">Hi everyone,</h1>
                <h1 class="about-description">Some quick facts about me</h1>
                <h1 class="about-description">I love web development and design</h1>
                <h1 class="about-description">I enjoy solving complex problems</h1>
                <h1 class="about-description">I love sports (soccer, running, cycling)</h1>
                <h1 class="about-description">I enjoy traveling and creating films</h1>
                <h1 class="about-description">I am intrigued by cryptocurrency</h1>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="chalkboard-container">
            <div class="chalkboard-main">
                <h1 class="chalkboard-text" id="chalkboard-title">SKILLS</h1>
                <h1 class="chalkboard-text">FRONT-END</h1>
                <h1 class="chalkboard-text">HTML, CSS, JAVASCRIPT</h1>
                <h1 class="chalkboard-text">JQUERY, BOOTSTRAP, SASS, EJS</h1>
                <h1 class="chalkboard-text">REACT, REDUX, WEBPACK, GULP, ES6</h1>
                <br/>
                <h1 class="chalkboard-text">BACK-END</h1>
                <h1 class="chalkboard-text">EXPRESS, NODE, MONGODB, MONGOOSE</h1>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>




   <div class="row">
   <section class="portfolio-main">
   <div class="container portfolio-container">
     <div class="skills-title-section">
       <h1 class="project-title">Here are my projects!</h1>
     </div>
     <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="project-template">
             <div class="project-template-header">
               <div class="header-ul">
                 <li class="header-button" id="red"></li>
                 <li class="header-button" id="yellow"></li>
                 <li class="header-button" id="green"></li>
               </div>
             </div>
             <div class="project-body">
               <img class="portfolio-img" src="/images/traveldesign.png">
             </div>
           </div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="project-template">
             <div class="project-template-header">
               <div class="header-ul">
                 <li class="header-button" id="red"></li>
                 <li class="header-button" id="yellow"></li>
                 <li class="header-button" id="green"></li>
               </div>
             </div>
             <div class="project-body">
               <h1 class="project-app-name">APP NAME</h1>
               <img class="portfolio-img" src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbe0bd1ecfaaa91394e0c9effb8b0415&auto=format&fit=crop&w=500&q=60">
             </div>
           </div>
               </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
             <div class="project-template">
               <div class="project-template-header">
                 <div class="header-ul">
                   <li class="header-button" id="red"></li>
                   <li class="header-button" id="yellow"></li>
                   <li class="header-button" id="green"></li>
                 </div>
               </div>
               <div class="project-body">
                 <h1 class="project-app-name">APP NAME</h1>
                 <img class="portfolio-img" src="https://images.unsplash.com/photo-1508014861016-f37cdf89e94d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a931c85311ff605cb8054760836f3ecd&auto=format&fit=crop&w=500&q=60">
               </div>

             </div>
             </div>



             <div class="col-sm-12 col-md-6 col-lg-6">
               <div class="project-template">
                 <div class="project-template-header">
                   <div class="header-ul">
                     <li class="header-button" id="red"></li>
                     <li class="header-button" id="yellow"></li>
                     <li class="header-button" id="green"></li>
                   </div>
                 </div>
                 <div class="project-body">
                   <h1 class="project-app-name">APP NAME</h1>
                   <img class="portfolio-img" src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbe0bd1ecfaaa91394e0c9effb8b0415&auto=format&fit=crop&w=500&q=60">
                 </div>            </div>
               </div>

           <div class="col-sm-12 col-md-6 col-lg-6">
             <div class="project-template">
               <div class="project-template-header">
                 <div class="header-ul">
                   <li class="header-button" id="red"></li>
                   <li class="header-button" id="yellow"></li>
                   <li class="header-button" id="green"></li>
                 </div>
               </div>
               <div class="project-body">
                 <h1 class="project-app-name">APP NAME</h1>
                 <img class="portfolio-img" src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbe0bd1ecfaaa91394e0c9effb8b0415&auto=format&fit=crop&w=500&q=60">
               </div>          </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-6">
               <div class="project-template">
                 <div class="project-template-header">
                   <div class="header-ul">
                     <li class="header-button" id="red"></li>
                     <li class="header-button" id="yellow"></li>
                     <li class="header-button" id="green"></li>
                   </div>
                 </div>
                 <div class="project-body">
                   <h1 class="project-app-name">APP NAME</h1>
                   <img class="portfolio-img" src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbe0bd1ecfaaa91394e0c9effb8b0415&auto=format&fit=crop&w=500&q=60">
                 </div>            </div>
               </div>
             </div>


         </div>
   </section>
   </div>
   <div class="row">

   </div>
   <div class="row">
     <section class="contact-main">
       <div class="contact-section">
         <div class="container">

           <div class="skills-title-section">
             <h1 class="project-title">Get in touch</h1>
           </div>
           <h1 class="contact-heading">My <strong class="contact-heading-strong">social media</strong</h1>
           <h2 class="contact-title">I am currently available for freelance work and projects.</h2>
           <p class="contact-description">If you are interested in working with me feel free to get in touch.</p>
             <div class="form-container">
           <form method="POST" action="/contact">
             <div class="form-group">
                 <input type="email" placeholder="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
               </div>
               <div class="form-group">
                 <input type="text" placeholder="E-mail"class="form-control" id="exampleInputPassword1" placeholder="Password">
               </div>
               <div class="form-group">
                 <textarea class="form-control" maxlength="300" id="exampleFormControlTextarea1" placeholder="Write a message"rows="5"></textarea>
               </div>
           </form>
           <button class="contact-button">CONTACT ME</button>
        </div>
       </div>
     </div>
   </section>
   </div>

 </div>



<% include partials/footer %>
