<% include partials/header %>


<div class="container-fluid">
  <section class="skils-main">
    <div class="container">
    <div class="skills-title-section">
      <h1 class="skills-title">Hello, here are my skills!</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container" >
          <div class="skills-grid" id="skills-grid-red">
            <h1 class="skills-description">HTML</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-blue">
            <h1 class="skills-description">CSS</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-green">
            <h1 class="skills-description">JAVASCRIPT</h1>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container" >
          <div class="skills-grid" id="skills-grid-purple">
            <h1 class="skills-description">REACT</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-grey">
            <h1 class="skills-description">BOOTSTRAP</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-orange">
            <h1 class="skills-description">MONGO</h1>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container" >
          <div class="skills-grid" id="skills-grid-darkorange">
            <h1 class="skills-description">jQuery</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-black">
            <h1 class="skills-description">EXPRESS.JS</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 row-no-padding">
        <div class="skills-grid-container">
          <div class="skills-grid" id="skills-grid-darkblue">
            <h1 class="skills-description">SASS</h1>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>
</div>

<% include partials/footer %>
