body {
  /* background: rgb(7, 167, 182); */
  background: linear-gradient(
    135deg,
    rgb(7, 167, 182),
    rgb(233, 177, 184),
    rgb(7, 167, 182)
  );
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 100%;
  z-index: -3;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
.container-fluid {
  padding-bottom: 100px;
  overflow-x: hidden;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  min-height: 100%;
  /* background: linear-gradient(135deg, rgb(7, 167, 182), rgb(233, 177, 184)); */
  /* padding: 2.25em 1.6875em; */
  overflow-y: hidden;
  /* margin-left: -15px !important; */
  /* margin-right: -15px !important; */
}
.container {
  overflow-x: hidden;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
}
.row {
  overflow-x: hidden;
}
.navbar {
  background-color: none;
  min-height: 10vh;
  height: auto;
  overflow-x: hidden;
  width: 100vw;
}
/*.navbar-right {
  display: flex;
  flex-direction: row;
}*/
.navbarLinks a {
  margin-right: 15px;
  color: #5d5d5e;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.navbarName {
  color: #595959;
  font-weight: 200;
  font-size: 25px;
}
.navbarName:hover {
  color: #595959;
  opacity: 0.5;
  text-decoration: none;
}
.nav-link {
  color: #595959;
}
.homeName {
  font-size: 25px;
  font-weight: 800;
  color: #595959;
}
.row1 {
  height: 100vh;
  padding: 2.25em 1.6875em;
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  /* -webkit-background-size: 3px 3px; */
  -moz-background-size: 3px 3px;
  /* background-size: 3px 3px; */
  overflow: hidden;
  /* position: relative; */
  /* text-align: center; */
  color: white;
  z-index: -1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row .row1-main {
  height: 90%;
  /* background-color: red; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row1-title {
  z-index: 1;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  /* position: absolute; */
  font-family: Pacifico, sans-serif;
  opacity: 1;
  margin-bottom: 15px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.row1-description {
  z-index: 1;
  font-size: 1.4em;
  font-weight: 200;
}
.row1-job-title {
  z-index: 1;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
.row1-img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.6;
}
.row2 {
  height: auto;
  background-color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container {
  -webkit-box-shadow: 0px 15px 35px -1px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 15px 35px -1px rgba(171, 171, 171, 1);
  box-shadow: 0px 15px 35px -1px rgba(171, 171, 171, 1);
  height: 50vh;
  width: 100%;
  margin: 10px;
  background-color: white;
  border: 1px solid lightgrey;
}
.app-container:hover {
  transform: scale(1.05);
}
.app-name {
  font-size: 28px;
  font-weight: 800;
  text-align: left;
  margin: 15px;
  color: #565656;
  letter-spacing: 1px;
}
.app-description {
  text-align: left;
  margin: 15px;
  font-weight: 200;
  font-size: 14px;
  color: #a8a8a8;
}
.app-img {
  border: 1px solid none;
  width: 100%;
  height: 60%;
}
.portfolio-button-section {
  /*display: flex;
  justify-content: center;*/
}
.portfolio-button {
  width: 100%;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #379eeb;
  border: 1px solid #379eeb;
  font-weight: 100;
}
.portfolio-button:hover {
  opacity: 0.7;
}
.main-heading-text {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.main-title-text {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: left;
}
.main-title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.main-description {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.main-description-text {
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: left;
}
.main-description-two-text {
  margin-top: 15px;
  line-height: 2;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  color: darkgrey;
}

/* Portfolio CSS */
.portfolio-main {
  padding: 2em 1.5em;
  /* background-image: -webkit-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100% ); */
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  /* -webkit-background-size: 3px 3px; */
  -moz-background-size: 3px 3px;
  /* background-size: 3px 3px; */
  min-height: 120vh;
  height: auto;
  width: 100%;
  overflow-y: hidden;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 100px;
}
.header-ul {
  margin-left: 12px;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-button {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0px 5px 0px 0px;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
/* PROJECT SECTION */
.app-title {
  font-size: 28px;
  font-weight: 300;
  font-family: sans-serif;
  text-align: left;
}
.app-description {
  font-size: 14px;
  font-weight: 200;
  font-family: sans-serif;
  text-align: left;
  margin: 0;
}
.builtList {
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 36px;
}
.builtList li {
  width: 50%;
  font-size: 12px;
  display: inline;
  background-color: #a4cba5;
  border-radius: 5px;
  padding: 6px;
  margin: 5px 5px 5px 0;
}
.app-built-title {
  text-align: left;
  margin: 10px 0 10px 0;
  font-size: 16px;
}
.app-button {
  margin: 0;
  background-color: #5da2e2;
  border: 1px solid transparent;
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
  color: #282828;
  display: inline;
}
.app-button-two {
  margin: 0;
  background-color: #ff6767;
  border: 1px solid transparent;
  bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
  color: #282828;
  display: inline;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.app-button:hover {
  background-color: #8ab7e0;
}
.project-template {
  border: 1px solid none;
  border-radius: 5px;
  height: 350px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.project-template-hover {
  position: absolute;
  bottom: 1px;
  left: 15px;
  border: 1px solid transparent;
  height: 301px;
  width: calc(100% - 30px);
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 10;
  display: none;
}

.project-template-header {
  border-bottom: 1px solid grey;
  height: 50px;
  background: #f7f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project-app-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-body {
  height: 300px;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.portfolio-img {
  width: 100%;
  height: 299px;
  margin-top: -2px;
  opacity: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-title {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.project-title:before,
.project-title:after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.project-title:before {
  right: 100%;
}
.project-title:after {
  left: 100%;
}
/* Portfolio CSS */

/* Skills CSS */
.skils-main {
  height: auto;
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.skills-title-section {
  /*background-color: blue;*/
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
.skills-title {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #5b5b5b;
}
.row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.skills-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-grid-container:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.skills-grid {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills-grid-red {
  background-color: #ff5959;
}
#skills-grid-blue {
  background-color: #59acff;
}
#skills-grid-green {
  background-color: #34d87b;
}
#skills-grid-purple {
  background-color: #c15de2;
}
#skills-grid-grey {
  background-color: #c0bbc1;
}
#skills-grid-orange {
  background-color: #ffb444;
}
#skills-grid-darkorange {
  background-color: #ff8800;
}
#skills-grid-black {
  background-color: #000000;
}
#skills-grid-darkblue {
  background-color: #2c2cc9;
}
.skills-description {
  font-size: 50px;
  font-weight: 100;
  color: white;
}
/* Skills CSS */

/* Contact CSS */
.contact-main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  /* background-color: #c3e2d2; */
  padding: 2.25em 1.6875em;
  /* background-image: -webkit-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100% ); */
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  /* -webkit-background-size: 3px 3px; */
  -moz-background-size: 3px 3px;
  /* background-size: 3px 3px; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section {
  height: 100%;
  width: 100%;
  background-color: none;
}
.contact-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.contact-heading {
  color: #4c4c4c;
  padding: 10px;
  font-size: 50px;
  font-weight: 200;
}
.contact-heading-strong {
  color: #4c4c4c;
  font-size: 50px;
  font-weight: 800;
}
.contact-title {
  padding: 10px;
  font-size: 30px;
  font-weight: 300;
}
.contact-description {
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
}
.contact-button {
  background-color: #379eeb;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid none;
  width: 75%;
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 50px;
}
.contact-button:hover {
  opacity: 0.9;
  background-color: #27c3f7;
}
.form-container {
  width: 70%;
  margin: 0 auto;
  background-color: none;
}
@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
    margin: 0 auto;
    background-color: none;
  }
  .contact-heading {
    color: #4c4c4c;
    padding: 6px;
    font-size: 35px;
    font-weight: 200;
  }
  .contact-title {
    padding: 6spx;
    font-size: 24px;
    font-weight: 300;
  }
  .contact-description {
    padding: 6px;
    font-size: 16px;
    font-weight: 200;
  }
  .contact-heading-strong {
    color: #4c4c4c;
    font-size: 35px;
    font-weight: 800;
  }
  .social-media-description {
    font-size: 10px;
  }
  .app-button {
    margin: 0;
    background-color: #5da2e2;
    border: 1px solid transparent;
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 125px;
    color: #282828;
  }
  .app-button-two {
    margin: 0;
    background-color: #ff6767;
    border: 1px solid transparent;
    bottom: 15px;
    padding: 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 125px;

    color: #282828;
    display: inline;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
/* Contact CSS */

/* ABOUT CSS */
.about-main {
  min-height: 90vh;
  height: auto;
  /* background-color: #c3e2d2; */
  padding: 2.25em 1.6875em;
  /* background-image: -webkit-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100% ); */
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  /* -webkit-background-size: 3px 3px; */
  -moz-background-size: 3px 3px;
  /* background-size: 3px 3px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.about-row {
  width: 90%;
}
.about-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  overflow: hidden;
  text-align: center;
}
.about-container {
  background-color: none;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 40px; */
}
.about-container-header {
  background-color: #ffffff;
  height: 68vh;
  width: 90%;
  border: 1px solid #efefef;
  /* border-radius: 15px; */
}
.about-header {
  height: 15%;
  /* border-radius: 15px 15px 0px 0px; */
  border-bottom: 2px solid lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.about-header-title {
  font-size: 40px;
  font-weight: 600;
  margin-left: 20px;
  font-family: "Coming Soon", cursive;
}
.about-body {
  height: 85%;
  background-color: #fff;
  background-image:
  /* linear-gradient(90deg, transparent 79px, lightblue 79px, lightblue 81px, transparent 81px), */ linear-gradient(
    lightblue 0.1em,
    transparent 0.1em
  );
  background-size: 100% 3em;
}
.about-body-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}
.about-description {
  font-size: 1.3em;
  font-weight: 200;
  padding-top: 17px;
  font-family: "Coming Soon", cursive;
}
.chalkboard-container {
  background-color: #7b6d47;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #564a39;
}
.chalkboard-main {
  background-color: #3c3c3c;
  border-radius: 5px;
  width: 95%;
  height: 54vh;
  text-align: left;
  padding: 20px;
}
.chalkboard-text {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  font-family: "Coming Soon", cursive;
}
#chalkboard-title {
  font-size: 50px;
}

/* ABOUT CSS */

.footer-row {
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer_section {
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links-section {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  padding: 0;
}
.footerLinks a {
  margin: 15px;
  color: white;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 200;
}
.footerLinks a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

/* Social Media Section */
.social-media-container {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}
.social-media-container-row1,
.social-media-container-row2,
.social-media-container-row3 {
  height: 33.3vh;
  width: 100%;
  /* background-color: blue; */
  /* border-bottom: 1px solid grey; */
}
.social-media-container-row2 {
  display: flex;
  flex-direction: row;
}
.social-row1,
.social-row3 {
  height: 33.3vh;
  width: 100%;
}
.social-row1-board {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 10px solid #3e3e3e;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
}
.social-row3-desk {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
}
.desk-top {
  width: 100%;
  height: 15%;
  background-color: #90635a;
  /* border-bottom: 1px solid lightgrey; */
}
.desk-bottom {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
}
.desk-bottom-left,
.desk-bottom-right {
  width: 50%;
  height: 100%;
}
.desk-bottom-right {
  display: flex;
  justify-content: flex-end;
}
.desk-bottom-left-leg {
  width: 8%;
  height: 100%;
  background-color: #bf906c;
}
.desk-bottom-right-drawer {
  width: 65%;
  height: 100%;
  background-color: #bf906c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.desk-bottom-right-drawer-box {
  height: 27%;
  width: 90%;
  background-color: #90635a;
  /* border: 1px solid lightgrey; */
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desk-bottom-right-handle {
  background-color: #fff;
  height: 10px;
  width: 75px;
  border-radius: 3px;
}
.computer-screen {
  height: 100%;
  padding-top: 20px;
  width: 100%;
}
.computer-screen-top {
  height: 80%;
  width: 100%;
  background-color: #e8e8e8;
  /* border: 1px solid lightgrey; */
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 20px 8px;
}
.computer-screen-top-display {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.computer-screen-bottom {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.computer-screen-bottom-stand {
  height: 80%;
  width: 20%;
  background-color: #d5d5d5;
}
.computer-screen-bottom-base {
  height: 20%;
  width: 50%;
  background-color: #e8e8e8;
}
.social-board-title {
  font-family: Coming Soon, sans-serif;
}
.social-board-description {
  font-family: Coming Soon, sans-serif;
  text-align: justify;
}
.computer-speaker {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  /* margin: 0 !important; */
  display: flex;
  align-items: flex-end;
}
.computer-speaker-box {
  height: 120px;
  width: 80px;
  margin: 0;
  padding: 5px;
  background-color: #1e1e1e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.computer-speaker-speakers {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: lightgrey;
  border: 8px solid #585858;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer-speaker-inner-speaker {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #585858;
}
.social-media-description {
  margin-bottom: 10px;
}
#social-icons:hover {
  padding-bottom: 10px;
}
#social-icons {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* MEDIA QUER */
@media screen and (max-width: 1000px) {
  .about-container-header {
    background-color: #ffffff;
    height: 68vh;
    width: 90%;
    border: 1px solid #efefef;
    margin-bottom: 5%;
  }
}
@media screen and (max-height: 800px) {
  .chalkboard-text {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    font-family: "Coming Soon", cursive;
  }
  .about-description {
    font-size: 14px;
    font-weight: 200;
    padding-top: 23px;
  }
}

@media screen and (max-width: 800px) {
  .app-button {
    margin: 0;
    background-color: #5da2e2;
    border: 1px solid transparent;
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 125px;
    color: #282828;
    display: inline;
  }
  .app-button-two {
    margin: 0;
    background-color: #ff6767;
    border: 1px solid transparent;
    bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    width: 125px;

    color: #282828;
    display: inline;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  @media screen and (max-width: 700px) {
    .about-container-header {
      background-color: #ffffff;
      height: 68vh;
      width: 100%;
      border: 1px solid #efefef;
      /* border-radius: 15px; */
    }
  }
  @media screen and (max-width: 600px) {
    .about-header-title {
      font-size: 30px;
      font-weight: 600;
      margin-left: 20px;
    }
    .about-description {
      font-size: 14px;
      font-weight: 200;
      padding-top: 24px;
    }
    .container-fluid {
      overflow-x: hidden;
      width: 100vw;
    }
    .chalkboard-text {
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      font-family: "Coming Soon", cursive;
    }
    .about-container-header {
      background-color: #ffffff;
      height: 68vh;
      width: 100%;
      border: 1px solid #efefef;
      /* border-radius: 15px; */
    }
    #social-icons {
      padding-bottom: 10px;
      height: 45px;
      width: 45px;
      margin: 0px;
    }
    .social-board-description {
      font-family: Coming Soon, sans-serif;
      text-align: justify;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 475px) {
    .about-header-title {
      font-size: 30px;
      font-weight: 600;
      margin-left: 20px;
    }
    .about-description {
      font-size: 11px;
      font-weight: 200;
      padding-top: 28px;
    }
    .chalkboard-text {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      font-family: "Coming Soon", cursive;
    }
    .app-button {
      margin: 0;
      background-color: #5da2e2;
      border: 1px solid transparent;
      position: absolute;
      left: 15px;
      bottom: 15px;
      padding: 8px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: 400;
      width: 100px;
      color: #282828;
      display: inline;
    }
    .app-button-two {
      margin: 0;
      background-color: #ff6767;
      border: 1px solid transparent;
      bottom: 15px;
      padding: 8px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: 400;
      width: 100px;

      color: #282828;
      display: inline;
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
  @media screen and (max-width: 375px) {
    .app-built-title {
      display: none;
    }
    .builtList {
      display: none;
    }
  }
}
